.metadata/
SoccerPitchPackage
UpdatePackage
ttc14_specification/.project
ttc14_specification/.temp/*
ttc14_specification/*.ldb
SoccerStrategy/.classpath
SoccerStrategy/bin/
SoccerStrategy/gen/
SoccerStrategy/model/SoccerStrategy*
updatemodel/gen
soccerpitch/gen
